@model ProjectComite.ViewModels.EditActieViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Actie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="actie.actieId" />
            <div class="form-group">
                <label asp-for="actie.naam" class="control-label"></label>
                <input asp-for="actie.naam" class="form-control" />
                <span asp-validation-for="actie.naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actie.informatie" class="control-label"></label>
                <input asp-for="actie.informatie" class="form-control" />
                <span asp-validation-for="actie.informatie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="actie.gemeenteId" class="control-label"></label>
                <select asp-for="actie.gemeenteId" class="form-control" asp-items="ViewBag.gemeenteId"></select>
                <span asp-validation-for="actie.gemeenteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
